<%- include('partials/header') %>

    <head>
      <title><%= title %></title>
    </head>
    <body>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </body>
  </body>
</html>

<%- include('partials/footer') %>
